@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$family-sans-serif: "Open Sans", sans-serif;
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/bulma";

.is-compact-control {
  width: 60%;
  margin: 0 auto;
}

.card.is-rounded {
  border-radius: 12px;
}

.is-desert {
  background-color: #f8c57aff;
  background-image: linear-gradient(#f8c57aff, #ffffff, #ffffff, #ffffff);
}
.has-happy-bg {
  background-image: url(../closing.jpg);
  background-position: center center;
  background-size: cover;
  height: 400px;
}

.card.is-fixed-height {
  min-height: 370px;
}

.card.is-fixed-height-2 {
  // min-height: /310px;
}

.has-right-margin-1 {
  margin-right: 8px;
}
.has-right-margin-2 {
  margin-right: 16px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  background-color: white;
}

.video-container iframe,
.video-container object,
.video-container embed {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
